name: Continuous Build
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  documentation:
    runs-on: ubuntu-latest
    name: Check Markdown links
    steps:
      - name: Clone eslint-formatter-teamcity
        uses: actions/checkout@master
      - name: Check hyperlinks
        uses: umbrelladocs/action-linkspector@v1

  lint-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 24.x]
    name: Build (${{ matrix.node-version }})
    steps:
      - name: Clone eslint-formatter-teamcity
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run test

  coverage:
    runs-on: ubuntu-latest
    name: Report Coverage
    steps:
      - name: Clone eslint-formatter-teamcity
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install Dependencies
        run: npm ci
      - name: Generate coverage
        run: node --test --experimental-test-coverage --test-reporter=lcov --test-reporter-destination=lcov.info "./test/**/*.spec.js"
      - name: Upload coverage
        uses: coverallsapp/github-action@v2
        with:
          file: lcov.info



